nav {
    border-bottom: 1px solid black;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


body {
    overflow-x: hidden;
    font-family: poppins;
}